<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerSecret</key>
	<string>b64af9d0-7597-41c1-b48e-82b814f80b16-59275a13-95c6-4354-9f13-7918c6eb2115</string>
	<key>consumerKey</key>
	<string>63bb1d5d-ed3b-4452-90fd-1bc94da3654e</string>
</dict>
</plist>
